.card {
    border: none;
}

body {
    font-family: 'Sriracha', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    
    opacity: 0.9;
    color: white;
}

.customCard {
    opacity: 0.9;
}

