.card {
    border: none;
}

body {
    font-family: 'Sriracha', cursive;
    background-size: cover;
}
.jumbotron {
    
    opacity: 0.9;
    color: white;
}

.customCard {
    opacity: 0.9;
}

h1 {
    text-shadow: 2px 2px black;
  }

